.highlight {
    font-size: larger;
    font-weight: bold;
    color: var(--text-secondary);
    filter: drop-shadow(0px 0px 0px gray);
    transition: all 100ms ease-in-out;
}

.highlight:hover {
    filter: drop-shadow(0px 0px 10px gray);
    color: var(--accent-primary);
    font-size: 3rem;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1 {
        text-align: center;
        width: auto;
	box-sizing: border-box;
    }
    img {
        width: 40%;
        max-width: 20rem;
    }
}

/* Small screens */
@media only screen and (max-width: 599px) {
    #home{
        height: auto;
	flex-direction: column-reverse;
	img {
	    width: 50%;
	}
    }
    
}
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
  }
