#resume > h1 {
    text-align: center;
    width: 100%;
}

#resume { margin: 1rem;}

#resume > .container{
    margin: 1rem;
    display: flex;
    flex-flow: column ;
    justify-content: baseline;
    align-items: center;
}