.Card-div {
    margin: 1rem;
    border: 1px inset black;
    border-radius: 2rem;
    width: 20rem;
    min-height: 20rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card-div > * {

}


.Card-div > a {
    text-decoration: none;
    color: var(--text-primary);
}

/* Small screens */
@media only screen and (max-width: 599px) {

}

 /* Large screens */
 @media only screen and (min-width: 600px) {

 }
