:root{
 font-size: 16px;
 font-family: 'Open Sans';
 scroll-behavior: smooth;
 --text-primary: #b6b6b6;
 --text-secondary: #ececec;
 --bg-primary:#23232e;
 --bg-secondary:#141418;
 --bg-main: #464545;
 --accent-primary: #FF7eee;
 --accent-secondary: #df49a6;
 --transition-speed: 600ms;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-main: #464545;
  --accent-primary: #FF7eee;
  --accent-secondary: #df49a6;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-main: #FAFAFA;
  --accent-primary: #FF7eee;
  --accent-secondary: #df49a6;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-main: #FFFFFFFF;
  --accent-primary: #FF7eee;
  --accent-secondary: #df49a6;
}

.fa-primary {
  color: var(--accent-primary);
}

.fa-secondary {
  color: var(--accent-secondary);
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  background-color: var(--bg-main);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
